.webgl {
  position: fixed !important;
  top: 0;
  left: 0;
  outline: none;
  font-family: Nunito Sans, sans-serif;
}

.doc {
  height: 100vh;
  /* width: 100vw; */
  /* position: absolute ; */
  background-color: rgb(3, 47, 91);
}

.header {
  background-color: rgb(8, 92, 177, 0.3);
}

#content p {
  margin-bottom: 46px;
}